<%= render "shared/banner" %>
  <div class="container">
    <div class="row">
        <% @groups.each do |c| %>
           <%= link_to group_path(c) do %>
          <div class="col-xs-12 col-sm-6 col-md-3">
           <div class="card card-link"
           style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url(https://media-exp1.licdn.com/dms/image/C560BAQEFI1_beVvTkQ/company-logo_200_200/0?e=1611792000&v=beta&t=OMML-nqVpisyaiQw6q1qSJ8_nUIObhTiPtBql19PdFc)">
            <div class="card-description">
              <h2><%= c.name %></h2>
            </div>

          </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>





